h1,
 h2,
  h3,
  body,
  p{
    margin: 0;
}

h1{
    font-family: "Playfair Display", serif;
    font-weight: normal;
    font-size: 64px;
}

h3{
    font-family: 'Open Sans', serif ;
    font-weight: normal;
    font-size: 16px;
}

ul, ol{
    list-style-type: none;
    padding: 0;
}

h1 span{
    font-weight: bold;
}

p{
    font-family: "Open Sans", sans-serif;
}

.profissao{
    font-size: 24px;
}

.t60{

    color: rgba(0, 0, 0, 0.6);
}

body{
    background: #E5E5E5;
}

header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,77,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 32px 64px;

}
    .nav  {
    display: inline;
      color: white;
      text-align: left;
      padding: 10px 10px;
      text-decoration: none;
      
}
a{
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 15%;

}

.dados{
    display: inline-block;
    margin-bottom: 16px;
}

.foto{
    border: 6px solid rgb(24, 19, 116);
    border-radius: 50%;
    margin-bottom: -120px;
    margin-right: 24px;
}
main{
    padding: 40px 70px;
    display: flex;
}

.coluna-menor{
    margin-top: 48px;
}

.coluna-menor li{
    margin-top: 32px;
    display: flex;
}

.coluna-menor img{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 8px;
}
.conteudo{
    display: inline-block;
}

.linha{
    width: 80px;
    border-top: 2px solid;
    margin-top: 8px;
}

.experiencias .linha{
    border-color: rgb(24, 19, 116);
}

.formacao .linha{
    border-color: rgba(0,212,255,1);
}

.formacao{
    margin-top: 32px;
}

.coluna-maior{
    margin-left: 24px;
}

.habilidades{
    display:flex;   
    flex-wrap: wrap;
}

.coluna-maior h2{
    font-size: 54px;
    margin-bottom: 20px;
    margin-left: 20px;
}

/*.habilidades h2{
    font-size: 54px;
    margin-bottom:20px ;
    }*/

.habilidade{
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    margin: 12px;
    width: 288px;
}

.habilidade h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 16px;
}

.habilidade p{
    font-size: 20px;
}

.progresso{
    width: 100%;
    display: flex;

}

.barra{
    width: 20%;
    margin-top: 8px;
    height: 4px;
    background-color: rgb(24, 19, 116);
}

.incompleto{
    opacity: 0.2;
}

.habilidade li{
    margin-top: 24px;
}

.habilidade li:first-child{
    margin-top: 0px;
}

.projetos{
    display: flex;
    flex-wrap: wrap;
}
.projeto{
    width: 392px;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
    margin: 12px;
}

.projeto h3{
    font-size: 24px;
    font-weight: bold;
}

.projeto p{
    margin-top:16px ;
    margin-bottom: 24px;
}

.projeto a{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(24, 19, 116);
    color: white;
    padding: 8px 24px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
    font-weight: 600;
    text-align: center;
    margin-top: 24px;
}

.projeto img{
    display: flex;
}

footer{
    background-color: #14004d;
    padding: 57.6px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
footer img{
    width: 30px;
    height: 30px;
    align-items: center;

}